#container{
    background-color: #add8e6;
    width: 80%;
    height: 100%;
    margin-top: 0px;
    margin-left:10%;
    margin-bottom:0;
}
#menu{
    background-color: blue;
    width: 100%;
    height: 10%;
    padding-top: 2px;
}
#menu2{
    background-color:transparent;
}
#textcontainer{
    width: 100%;
    height: 80%;
    margin-bottom: 0;
    text-align: center;
}

body{
    width: 100%;
    height: 100%;
    margin-bottom:0;
    margin-top:0;
}
.text1{
    text-align:center;

}
.body1{
    background-image: url("../Images/groenigijziggroenland.jpg");
    margin-top:0px;
    margin-bottom:0;
}
.button{ 
    color:darkblue;
    text-decoration:none;
    background-color:lightblue;
    padding: 5px;
    border-bottom: red 5px solid;
    font-size: 30px;
    border-radius:5px;
}
.button:hover{ 
    color:lightblue;
    text-decoration:none;
    background-color:darkblue;
    border-bottom: red 5px solid;

}
.li1{
    padding:5px;
    text-decoration: none;
    display: inline-block;
    margin-bottom:15%;
}
#homebutton{ 
    height:50%;
    background:lightblue;
    margin-bottom:-35%;
    border-radius:20px;
    border:3px solid black;
    padding:5px;
}