#container{
    background-color: #e4fde1;
    width: 80%;
    height: 100%;
    margin-top: 0px;
    margin-left:10%;
    margin-bottom:0;
}
#menu{
    background-color: #1c1337;
    width: 100%;
    height: 10%;
    padding-top: 2px;
}
#menu2{
    background-color:transparent;
}
#textcontainer{
    width: 100%;
    height: 80%;
    margin-bottom: 0;
    text-align: center;
}

body{
    width: 100%;
    height: 100%;
    margin-bottom:0;
    margin-top:0;
}
.text1{
    text-align:center;

}
.body1{
    background-image: url("../Images/groenigijziggroenland.jpg");
    margin-top:0px;
    margin-bottom:0;
}
.button{ 
    color:#7D80DA;
    text-decoration:none;
    background-color:lightblue;
    padding: 5px;
    border-bottom: #7D80DA 5px solid;
    font-size: 30px;
    border-radius:5px;
}
.button:hover{ 
    color:#05204A;
    text-decoration:none;
    background-color:#6290C3;
    border-bottom: #7D80DA 5px solid;

}
.li1{
    padding:5px;
    text-decoration: none;
    display: inline-block;
    margin-bottom:15%;
}
.li2{
    text-decoration: none;
    display: inline-block;
}
#homebutton{ 
    height:50%;
    background:lightblue;
    margin-bottom:-35%;
    border-radius:20px;
    border:3px solid black;
    padding:5px;
}

#homebutton:hover{
    height:50%;
    background:#6290C3;
    margin-bottom:-35%;
    border-radius:20px;
    border:3px solid black;
    padding:5px;
}
#centerimage{
    margin-left:auto;
    width: 40%;

}
#centerimage2{
    margin-left:auto;  
    width:70%


}