#container{
    background-color: #e4fde1;
    width: 80%;
    height: 100%;
    margin-top: 0px;
    margin-left:10%;
    margin-bottom:0;
}
#menu{
    background-color: #1c1337;
    width: 100%;
    height: 10%;
    padding-top: 2px;
}
#menu2{
    background-color:transparent;
}
#textcontainer{
    width: 100%;
    height: 80%;
    margin-bottom: 0;
    text-align: center;
    margin-left:auto;
    display:block;
}
#imgE2{
    width:15%
}
#imgG{
    width:20%
}
#imgW{
    width:20%;
}
#imgA{
    width:40%;
    margin-bottom:20px;
}
#imgH{
    width:25%;
    margin-top:20px;
}
.maintext{
    font-family: 'Lora', serif;
    align-content: center;
    font-size:120%;
    margin-bottom:10%;

}
.mainmenutext{
    font-family: 'Lora', serif;
    align-content: center;
    font-size:180%;
    margin-bottom:10%;

}
body {
background-image: url("../Images/groenigijziggroenland.jpg");
   margin:0;
   padding:0;
   height:100%;
}
.text1{
    text-align:center;

}
.p5{
    font-family: 'Lora', serif;
    align-content: center;
    font-size:120%;
}
.body1 {
background-image: url("../Images/groenigijziggroenland.jpg");
   margin:0;
   padding:0;
   height:100%;
}
.button{ 
    margin-top:10%;
    color:#7D80DA;
    text-decoration:none;
    background-color:lightblue;
    padding: 5px;
    border-bottom: #7D80DA 5px solid;
    font-size: 30px;
    border-radius:5px;
}
.button:hover{ 
    color:#05204A;
    text-decoration:none;
    background-color:#6290C3;
    border-bottom: #7D80DA 5px solid;

}
.li1{
    padding:5px;
    text-decoration: none;
    display: inline-block;
    margin-bottom:5%;
}
.li2{
    text-decoration: none;
    display:block;
}
#homebutton{ 
    height:50%;
    background:lightblue;
    margin-bottom:-35%;
    border-radius:20px;
    border:3px solid black;
    padding:5px;
    
}

#homebutton:hover{
    height:50%;
    background:#6290C3;
    margin-bottom:-35%;
    border-radius:20px;
    border:3px solid black;
    padding:5px;
}