.Title { color:rgb(17, 65, 87);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
.Title1 { color:rgb(37, 37, 37);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 200%;
        }
.Text {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.Text1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.List{
    font-size: large;
    font-family:  Georgia, 'Times New Roman', Times, serif;

 }

.listdiv{
    text-align: left;
    padding-left: 850px;
    font-size: large;
    font-family:  Georgia, 'Times New Roman', Times, serif;
}

.CustomDiv {
  border: none;
  background-color: none;
  text-align: center;

}
.CustomDiv2 {
    border: 5px solid black;
    text-align: center;
    background-color: lightblue;
}
.button{
    border: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: lightblue;
}
/* een deel van de code van deze buttons is van w3schools */
.button2{
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background: transparent;
    border: none;
}
.body1{
    background-image: url("../Images/809524.jpg");
}
.image{
    scale: 10%;


}