.Title { color:rgb(17, 65, 87);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
.Title1 { color:rgb(37, 37, 37);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
.Text {
    font-family: Georgia, 'Times New Roman', Times, serif
}

.List{ }

.listdiv{
    border: none;   
    text-align: left;    
    padding-left: 300px;
}

.CustomDiv {
  border: 5px outset black;
  background-color: lightblue;
  text-align: center;
}
.button{
  border: black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: lightblue;
}
.body1{
    background-color: rgb(208, 228, 235);



}